

@import "../global/global";

.brand-cont{
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    margin-bottom: 40px;
    align-items: center;
}

.brand-logo{
    display: flex;
    justify-content: center;
    
}

.brand-title{
    font-family: $leadFont;
    font-size: 24px;
    font-weight: 700;
    color: $heading-Color;

} 

.brand-slogan{
    font-family: $SubFont;
    font-size: 14px;
    font-weight: 400;
    color: $SubHead-Color;

}