$leadColor : #fb4e4e;
$heading-Color: #25282b;
$SubHead-Color: #a0a4a8;
$Bar-Shadow: 0px 3px 10px -5px #cacccf;

.brand-cont{
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    margin-bottom: 40px;
    align-items: center;

}

.brand-logo{
    display: flex;
    justify-content: center;
    
}

.brand-title{
    font-size: 24px;
    font-weight: 700;
    color: $heading-Color;

}

.brand-slogan{
    font-size: 14px;
    font-weight: 400;
    color: $SubHead-Color;

}