

@import "../global/global" ;

.dish-cont {
  display: flex;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 64px;
  border-radius: 10px;
  margin-bottom: 8px;
  box-shadow: $bar-shadow;
}

.dish-cat{
  position:relative;
  width:7px;
  height: 6.13px;
  bottom: 22px;
  right: 4px;
  border-radius:60%;
  border: 3px solid ;
  
}

.dish-imgsection {
  width: 25%;
  display: flex;
  align-items: center;
  margin-left: 6px;
}

.dish-img{
clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.dish-img {
  width: 52px;
  height: 52px  ;
  border-radius: 10px;
}

.dish-desc {
  display: flex;
  width: 85%;
  align-items: center;
}

.dish-detail {
  display: flex;
  flex-direction: column;
  width: 85%;
  justify-content: center;
}

.dish-name {
  font-family: $leadFont;
  font-weight: $fw-L;
  font-size: $fts-3;
  color: $heading-Color;
  overflow-x: scroll;
  max-height: 25px;

}

.dish-indg {
  font-family: $SubFont;
  font-weight: $fw-S;
  font-size: $fts-1;
  color: $SubHead-Color;
   overflow-x: scroll;
   height: 20px;
}

.dish-price {
  width: 20%;
  font-family: $SubFont;
  font-weight: $fw-M;
  font-size: $fts-3;
  color: #2AC769;
}
