$leadColor : #fb4e4e;
$heading-Color: #25282b;
$SubHead-Color: #a0a4a8;
$Bar-Shadow: 0px 3px 10px -5px #cacccf;

.accordion{
  display: flex;
  justify-content: center;
  align-items: center;
  height:  auto;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 5px;
  box-shadow: $Bar-Shadow;
}

.accordion-item{
    width: 94%;
}



.accordion-Title{
    display: flex;
    width: 98%;
    font-size: 24px;
    font-weight: 500;
    min-height: 40px;
    padding: 10px;
    justify-content: space-between;


}

