
@import "../global/global";

.accordion{
  display: flex;
  justify-content: center;
  align-items: center;
  height:  auto;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 5px;
  box-shadow: $bar-shadow;
}

.accordion-item{
    width: 94%;
}

.accordion-Title{
    display: flex;
    width: 98%;
    font-size: $fts-5;
    font-weight: $fw-M;
    min-height: 40px;
    padding: 10px;
    justify-content: space-between;
}

