
//Color Decalaration
$leadColor : #2AC769;
$heading-Color: #25282B;
$SubHead-Color: #52575C;
$lead1: #353FDF;
$lead2: #FB4E4E;
$LeadBlue: #123456;
$LeadYlow: #F6A609;
$bg1: #E8E8E8;





$bar-shadow: 0px 3px 11px -3px #cacccf;

//Font Decalaration
$leadFont : 'Poppins', sans-serif;
$SubFont : 'Open Sans', sans-serif;

//Font Sizing
$fts-1: 12px;
$fts-2: 14px;
$fts-3: 16px;
$fts-4: 20px;
$fts-5: 24px;
$fts-6: 30px;
$fts-7: 46px;
$fts-8: 56px;
$fts-9: 68px;

//Font Weight
$fw-S: 400;
$fw-M: 500;
$fw-L: 600;


